<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ task_object.name }}</h1>
            <p>
                <a href="{% url 'todo_list_edit' task_object.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' task_object.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>

        </div>
        <table>
            <thead>
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                </tr>
            </thead>
            <tbody>
                {% for details in task_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_edit' task_object.id %}">{{ details.task }}</a></td>
                    <td>{{ details.due_date|date:"M n, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
